{{ if not .Values.common.siteconfigonly }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: skupper-router
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  - pods
  - configmaps
  verbs:
  - get
  - list
  - watch
{{- end }}